<div class="formulaireNewAnnonce">
    <div class="contenuFormulaireNewAnnonce">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                {{ form_row(form.nom_annonce) }}
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                {{ form_row(form.description_annonce) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.prix_annonce) }}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.photo_annonce) }}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.categorie_annonce) }}
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                {{ form_row(form.region_annonce) }}
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-info btn-lg btn-block">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
