{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <h1>Annonces</h1>
    <div class="text-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">{{ annonce.nomAnnonce }}</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div>
                            <img class="d-block user-select-none m-2 " src="../../public/img/{{ annonce.photoAnnonce }}" width="150" height="150" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        </div>
                    </li>
                    <li class="list-group-item">ID : {{ annonce.id }}</li>
                    <li class="list-group-item">{{ annonce.descriptionAnnonce }}</li>
                    <li class="list-group-item">Prix : {{ annonce.prixAnnonce }} €</li>
                    <li class="list-group-item">{{ annonce.regionAnnonce }}</li>

                    {%  if is_granted('ROLE_ADMIN') %}
                        <li class="list-group-item"><a class="btn btn-info m-1" href="{{ path('annonces_edit', {'id': annonce.id}) }}">Modifier</a></li>
                        {{ include('annonces/_delete_form.html.twig') }}
                    {%  endif %}
                </ul>
            </div>
        </div>
    </div>

    <a class="btn btn-info m-1" href="{{ path('annonces_index') }}">back to list</a>

{% endblock %}
