<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path ('accueil') }}">Le mauvais coin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('accueil') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('annonces_index') }}">Toutes les annonces</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('annonces_new') }}">Nouvelle annonce</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Tous les utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categories_index') }}">Toutes les catégories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('categories_new') }}">Nouvelle catégorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Insciption</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Déconnexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
        </ul>
    </div>
</nav>